<ion-item>
  <ion-label position="stacked">Contact Number</ion-label>
  <ion-input
    [(ngModel)]="contactNumber"
    type="tel"
    placeholder="e.g. 09171234567">
  </ion-input>
</ion-item>
<p class="error" *ngIf="contactNumber && !isContactNumberValid">
  Please enter a valid contact number.
</p>

<ion-item>
  <ion-label position="stacked">Occupation</ion-label>
  <ion-input
    [(ngModel)]="occupation"
    type="text"
    placeholder="e.g. Teacher">
  </ion-input>
</ion-item>

<ion-button
  expand="block"
  [disabled]="saving || !isContactNumberValid"
  (click)="save()">
  {{ saving ? 'Saving...' : 'Save Changes' }}
</ion-button>