<ion-header>
  <ion-toolbar>
    <ion-title>Admin Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1>Welcome, Administrator</h1>

  <p>
    You are logged in as an Admin.
  </p>

<ion-button
  expand="block"
  fill="outline"
  routerLink="/admin/residents">
  View Residents
</ion-button>

<ion-button
  expand="block"
  fill="outline"
  routerLink="/admin/households">
  View Households
</ion-button>

<ion-button
  expand="block"
  fill="outline"
  routerLink="/admin/requests">
  Manage Requests
</ion-button>

<ion-button
  expand="block"
  (click)="logout()">
  Logout
</ion-button>

</ion-content>