.login-container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

ion-card {
  width: 100%;
  max-width: 420px;
}

ion-item {
  margin-bottom: 16px;
}

ion-button {
  margin-top: 20px;
}